<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Vibración -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Notificaciones push (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Alarmas exactas (Android 12+) -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <!-- Reprogramar al reiniciar el móvil -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_myplaces"
        android:label="@string/app_name"
        android:roundIcon="@android:drawable/ic_menu_myplaces"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymFlow">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Receiver para alarmas de notificación -->
        <receiver
            android:name=".NotificationReceiver"
            android:exported="false"/>

        <!-- Receiver para reprogramar alarmas tras reinicio -->
        <receiver
            android:name=".BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
